<div class="row">
  <div class="col-12 col-lg-6 position-absolute top-50 start-50 translate-middle">
    <p class="text-center">Cadastro de Clientes</p>
    <form (ngSubmit)="onSubmit(modelPost.value)" #modelPost="ngForm">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" ngModel name="nome" id="nome" value="" class="form-control">
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" ngModel name="telefone" id="telefone" value="" class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" ngModel name="email" id="email" value="" class="form-control">
      </div>
      <div class="mb-3">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" ngModel name="cep" id="cep" value="" class="form-control">
      </div>
      <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary d-flex">
          <i class="material-icons me-2">send</i>
          SALVAR
        </button>
      </div>
    </form>
  </div>
</div>
