<div class="row mt-5">
  <p class="text-center">Tabela de Clientes</p>
  <div class="col-12 col-lg-8 mx-auto">
    <p class="text-center">{{title}}</p>
    <table class="table">
      <thead>
        <tr class="text-center">
          <th>Id</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Cep</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cl of clientes" class="text-center">
          <td class="align-middle">{{cl.id}}</td>
          <td class="align-middle">{{cl.nome}}</td>
          <td class="align-middle">{{cl.telefone}}</td>
          <td class="align-middle">{{cl.email}}</td>
          <td class="align-middle">{{cl.cep}}</td>
          <td class="align-middle">
            <button type="button" class="btn btn-flat d-flex align-items-center" (click)="setCliente(cl)">
              <i class="material-icons">edit</i>
            </button>
          </td>
          <td class="align-middle">
            <button type="button" class="btn btn-flat d-flex align-items-center" (click)="delete(cl.id)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
